<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css')}}">
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script src="https://kit.fontawesome.com/681de42033.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{{data.titulo}}</title>
</head>
<body>
    <div class="header">
        <div class="nav-div">
            <nav>
                <a href="{{ url_for('index') }}">Inicio</a>
                <a href="{{ url_for('userController.history') }}">Historial</a>
            </nav>
        </div>
        <div class="buttons">
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('userController.logout') }}" method="POST">
                    <input type="submit" value="Cerrar sesión">
                </form>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <div class="auth-buttons">
                <form action="{{ url_for('userController.login') }}" method="GET">
                    <input type="submit" value="Iniciar sesión">
                </form>
                <form action="{{ url_for('userController.register') }}" method="GET">
                    <input type="submit" value="Registrarse">
                </form>
            </div>
            {% endif %}
            
            <form action = "{{ url_for('userController.profile') }}" method="GET">
                <button class="fa-solid fa-user icon fa-3x profile-button" onclick="{{ url_for('userController.profile') }}" >
            </form>
        </div>

    </div>


    <div class="page-content">
        {% block contenido %}
        {% endblock %}
    </div>

</body>
</html>