<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <title>{{data.titulo}}</title>
</head>
<body>
    <div class="header">
        <nav>
            <a href="{{ url_for('index') }}">index</a>
        </nav>
        {% if current_user.is_authenticated %}
            <p>Usuario: {{ current_user.username }}</p>
            <form action="{{ url_for('logout') }}" method="POST">
                <input type="submit" value="Cerrar sesión">
            </form>
        {% endif %}
    </div>

    {% block contenido %}
    {% endblock %}
    <!--<script src="{{ url_for('static', filename='js/index.js')}}"></script>-->
</body>
</html>