<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="login-div">
        <h2>Recuperar contraseña</h2>
        <form action="{{ url_for('forgot_password') }}" method="POST" class="login-form">
            <div class="form-field">
                <label for="username">Nombre de usuario:</label><br>
                <input type="text" id="username" name="username" required><br>
            </div>
            <div class="form-field">
                <label for="email">Correo Electrónico:</label><br>
                <input type="email" id="email" name="email" required><br>
            </div>
            <div class="form-field">
                <label for="new_password">Contraseña:</label><br>
                <input type="password" id="new_password" name="new_password" required><br>
            </div>
            <div class="form-field">
                <label for="confirm_new_password">Confirma Contraseña:</label><br>
                <input type="password" id="confirm_new_password" name="confirm_new_password" required><br>
            </div>
                <!-- Mostrar mensaje de error -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="error-message">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Fin de mensaje de error -->
            <input type="submit" value="Recuperar" class="button">
        </form>

    </div>
</body>