{% extends './base.html' %}

{% block contenido %}


<div class="upload-div">
    <div class="upload-container">
        <h2>Subir Archivo</h2>
        <form action="/procesar" method="post" enctype="multipart/form-data">
            <input type=file name=archivo>
            <input type=submit value=Subir>
        </form>
    </div>
</div>


<div class="result-div">

    <div class="result">
        <h2>Resultado</h2>
        <p>
            {% if data.cont == 1 %}

                <div class="data_results">
                    <img src="{{ url_for('static', filename='img/grafico.png') }}" alt="Gráfico de Barras">
                    <div class="probabilities">
                        {% if data.probabilidades.all() %}
                            {% for prob in data.probabilidades %}
                                {{ prob + "\n"}}<br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </p>
    </div>

</div>

{% endblock %}