<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">
    <title>{{data.titulo}}</title>
</head>
<body>
    <div class="login-div">
        <h2>Iniciar sesión</h2>
        <form action="{{ url_for('userController.login') }}" method="POST" class="login-form">
            <div class="form-field">
                <label for="username">Nombre de usuario:</label><br>
                <input type="text" id="username" name="username" required><br>
            </div>
            <div class="form-field">
                <label for="password">Contraseña:</label><br>
                <input type="password" id="password" name="password" required><br>
            </div>
                <!-- Mostrar mensaje de error -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="error-message">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Fin de mensaje de error -->
            <input type="submit" value="Iniciar sesión" class="button">
        </form>
        <div class="buttons">
            <div class="register-button">
                <a href="{{ url_for('userController.register') }}" class="button">Registrarse</a>
            </div>
            <div class="register-button">
                <a href="{{ url_for('userController.forgot_password') }}" class="button">He olvidado la contraseña</a>
            </div>
        </div>

    </div>
</body>